
    body {
      font-family: 'Arial', sans-serif; /* Sets the font for the entire page */
      margin: 0;
      padding: 0;
      text-align: center; /* Centers the text */
      background-color: #f0f0f0; /* Light grey background */
    }
    h1 {
      color: #333; /* Dark grey color for the h1 tag */
      font-size: 6em; /* Larger font size for the h1 tag */
    }
    p {
      color: #666; /* Medium grey color for paragraph text */
      font-size: 4em; /* Slightly larger font size for paragraph text */
      margin: 20px auto; /* Adds margin to the top and bottom of paragraphs */
      width: 80%; /* Limits the width of paragraphs to 80% of their container */
      max-width: 600px; /* Ensures paragraphs don't get too wide on large screens */
    }
  
